.app {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin:50px;


}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin:50px;
  }
  
}

@media screen and ((min-width: 769px) and(max-width:480px) ) {

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin:10px;
  } }